[submodule "modules/dotbot"]
path = modules/dotbot
url = https://github.com/anishathalye/dotbot.git
ignore = dirty
[submodule "modules/zgen"]
path = modules/zgen
url = https://github.com/tarjoilija/zgen.git
ignore = dirty
[submodule "modules/asdf"]
path = modules/asdf
url = https://github.com/asdf-vm/asdf.git
ignore = dirty
[submodule "modules/oh-my-zsh"]
path = modules/oh-my-zsh
url = https://github.com/ohmyzsh/ohmyzsh.git
ignore = dirty
[submodule "modules/dotbot-asdf"]
path = modules/dotbot-asdf
url = https://github.com/sobolevn/dotbot-asdf.git
[submodule "modules/dotbot-brewfile"]
path = modules/dotbot-brewfile
url = https://github.com/sobolevn/dotbot-brewfile.git
[submodule "modules/nvchad"]
	path = modules/nvchad
	url = https://github.com/NvChad/NvChad.git
	branch = v2.0
